GO_RUNTIME_ENV: DEV
SRV_APPLET_MGR__EthClient_ChainEndpoint: ""
SRV_APPLET_MGR__EthClient_PrivateKey: ""
SRV_APPLET_MGR__Jwt_ExpIn: 0s
SRV_APPLET_MGR__Jwt_Issuer: ""
SRV_APPLET_MGR__Jwt_SignKey: ""
SRV_APPLET_MGR__Logger_Format: JSON
SRV_APPLET_MGR__Logger_Level: debug
SRV_APPLET_MGR__Logger_Name: srv-applet-mgr
SRV_APPLET_MGR__Logger_Output: ALWAYS
SRV_APPLET_MGR__Logger_ReportCaller: "false"
SRV_APPLET_MGR__MonitorDB_ConnMaxLifetime: 1h
SRV_APPLET_MGR__MonitorDB_Master: postgres://127.0.0.1:5432
SRV_APPLET_MGR__MonitorDB_PoolSize: "10"
SRV_APPLET_MGR__MonitorDB_Retry_Interval: 3s
SRV_APPLET_MGR__MonitorDB_Retry_Repeats: "3"
SRV_APPLET_MGR__MonitorDB_Slave: ""
SRV_APPLET_MGR__MqttBroker_Keepalive: 3h
SRV_APPLET_MGR__MqttBroker_QoS: ONCE
SRV_APPLET_MGR__MqttBroker_RetainPublish: "false"
SRV_APPLET_MGR__MqttBroker_Retry_Interval: 3s
SRV_APPLET_MGR__MqttBroker_Retry_Repeats: "3"
SRV_APPLET_MGR__MqttBroker_Server: mqtt://127.0.0.1:1883
SRV_APPLET_MGR__MqttBroker_Timeout: 3s
SRV_APPLET_MGR__Postgres_ConnMaxLifetime: 1h
SRV_APPLET_MGR__Postgres_Master: postgres://127.0.0.1:5432
SRV_APPLET_MGR__Postgres_PoolSize: "10"
SRV_APPLET_MGR__Postgres_Retry_Interval: 3s
SRV_APPLET_MGR__Postgres_Retry_Repeats: "3"
SRV_APPLET_MGR__Postgres_Slave: ""
SRV_APPLET_MGR__Redis_ConnectTimeout: 10s
SRV_APPLET_MGR__Redis_DB: "1"
SRV_APPLET_MGR__Redis_Host: 127.0.0.1
SRV_APPLET_MGR__Redis_IdleTimeout: 4m
SRV_APPLET_MGR__Redis_MaxActive: "5"
SRV_APPLET_MGR__Redis_MaxIdle: "3"
SRV_APPLET_MGR__Redis_Password: ""
SRV_APPLET_MGR__Redis_Port: "6379"
SRV_APPLET_MGR__Redis_Prefix: 'dev:srv-applet-mgr:'
SRV_APPLET_MGR__Redis_Protocol: tcp
SRV_APPLET_MGR__Redis_ReadTimeout: 10s
SRV_APPLET_MGR__Redis_Wait: "true"
SRV_APPLET_MGR__Redis_WriteTimeout: 10s
SRV_APPLET_MGR__Server_Debug: "true"
SRV_APPLET_MGR__Server_HealthCheck: http://:80/
SRV_APPLET_MGR__Server_Port: "80"
SRV_APPLET_MGR__Server_Spec: ./swagger.json
SRV_APPLET_MGR__UploadConf_FileSizeLimit: "104857600"
SRV_APPLET_MGR__UploadConf_Root: ./asserts
