GO_RUNTIME_ENV: DEV
SRV_APPLET_MGR__AmazonS3_AccessKeyID: ""
SRV_APPLET_MGR__AmazonS3_BucketName: ""
SRV_APPLET_MGR__AmazonS3_Endpoint: ""
SRV_APPLET_MGR__AmazonS3_Region: ""
SRV_APPLET_MGR__AmazonS3_S3ForcePathStyle: "false"
SRV_APPLET_MGR__AmazonS3_SecretAccessKey: ""
SRV_APPLET_MGR__AmazonS3_SessionToken: ""
SRV_APPLET_MGR__EthClient_Endpoints: ""
SRV_APPLET_MGR__FileSystem_Type: LOCAL
SRV_APPLET_MGR__Jwt_ExpIn: 0s
SRV_APPLET_MGR__Jwt_Issuer: ""
SRV_APPLET_MGR__Jwt_SignKey: ""
SRV_APPLET_MGR__LocalFS_Root: ""
SRV_APPLET_MGR__Logger_Format: JSON
SRV_APPLET_MGR__Logger_Level: debug
SRV_APPLET_MGR__Logger_Name: srv-applet-mgr
SRV_APPLET_MGR__Logger_Output: ALWAYS
SRV_APPLET_MGR__Logger_ReportCaller: "false"
SRV_APPLET_MGR__MetricsCenter_Endpoint: ""
SRV_APPLET_MGR__MonitorDB_ConnMaxLifetime: 1h
SRV_APPLET_MGR__MonitorDB_Master: postgres://127.0.0.1:5432
SRV_APPLET_MGR__MonitorDB_PoolSize: "10"
SRV_APPLET_MGR__MonitorDB_Retry_Interval: 3s
SRV_APPLET_MGR__MonitorDB_Retry_Repeats: "3"
SRV_APPLET_MGR__MonitorDB_Slave: ""
SRV_APPLET_MGR__MqttBroker_Cert_Ca: ""
SRV_APPLET_MGR__MqttBroker_Cert_CaPath: ""
SRV_APPLET_MGR__MqttBroker_Cert_Crt: ""
SRV_APPLET_MGR__MqttBroker_Cert_CrtPath: ""
SRV_APPLET_MGR__MqttBroker_Cert_Key: ""
SRV_APPLET_MGR__MqttBroker_Cert_KeyPath: ""
SRV_APPLET_MGR__MqttBroker_Keepalive: 3h
SRV_APPLET_MGR__MqttBroker_QoS: ONCE
SRV_APPLET_MGR__MqttBroker_RetainPublish: "false"
SRV_APPLET_MGR__MqttBroker_Retry_Interval: 3s
SRV_APPLET_MGR__MqttBroker_Retry_Repeats: "3"
SRV_APPLET_MGR__MqttBroker_Server: mqtt://127.0.0.1:1883
SRV_APPLET_MGR__MqttBroker_Timeout: 10s
SRV_APPLET_MGR__Postgres_ConnMaxLifetime: 1h
SRV_APPLET_MGR__Postgres_Master: postgres://127.0.0.1:5432
SRV_APPLET_MGR__Postgres_PoolSize: "10"
SRV_APPLET_MGR__Postgres_Retry_Interval: 3s
SRV_APPLET_MGR__Postgres_Retry_Repeats: "3"
SRV_APPLET_MGR__Postgres_Slave: ""
SRV_APPLET_MGR__Redis_ConnectTimeout: 10s
SRV_APPLET_MGR__Redis_DB: "1"
SRV_APPLET_MGR__Redis_Host: 127.0.0.1
SRV_APPLET_MGR__Redis_IdleTimeout: 4m
SRV_APPLET_MGR__Redis_MaxActive: "5"
SRV_APPLET_MGR__Redis_MaxIdle: "3"
SRV_APPLET_MGR__Redis_Password: ""
SRV_APPLET_MGR__Redis_Port: "6379"
SRV_APPLET_MGR__Redis_Prefix: 'prod:srv-applet-mgr:'
SRV_APPLET_MGR__Redis_Protocol: tcp
SRV_APPLET_MGR__Redis_ReadTimeout: 10s
SRV_APPLET_MGR__Redis_Wait: "true"
SRV_APPLET_MGR__Redis_WriteTimeout: 10s
SRV_APPLET_MGR__RobotNotifier_Env: ""
SRV_APPLET_MGR__RobotNotifier_Secret: ""
SRV_APPLET_MGR__RobotNotifier_URL: ""
SRV_APPLET_MGR__RobotNotifier_Vendor: ""
SRV_APPLET_MGR__Server_Debug: "true"
SRV_APPLET_MGR__Server_HealthCheck: http://:80/
SRV_APPLET_MGR__Server_Port: "80"
SRV_APPLET_MGR__Server_Spec: ./openapi.json
SRV_APPLET_MGR__ServerEvent_Debug: "true"
SRV_APPLET_MGR__ServerEvent_HealthCheck: http://:80/
SRV_APPLET_MGR__ServerEvent_Port: "80"
SRV_APPLET_MGR__ServerEvent_Spec: ./openapi.json
SRV_APPLET_MGR__UploadConf_DiskReserveBytes: "20971520"
SRV_APPLET_MGR__UploadConf_FilesizeLimitBytes: "1048576"
SRV_APPLET_MGR__WasmDB: ""
SRV_APPLET_MGR__WasmDBConfig_MaxConnection: "2"
